@import "tailwindcss";

.material-symbols-filled {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: "FILL" 1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-logo: var(--font-josefin);
}

body {
  background: var(--background);
  color: var(--foreground);
}
